#wrapper.full
  .row-fluid
    .span8.separate
      #about
        %h3 Our Story
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      #history
        %h3 History
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
    .span4
      #sidebar
        .testimonial-container
          %h3 Testimonials
          .testimonials-carousel{:data => {:autorotate => "3000"}}
            %ul.carousel
              %li.testimonial
                .testimonials
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                .testimonials-bg
                .testimonials-author
                  Some Guy,
                  %span Happy User
              %li.testimonial
                .testimonials
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                .testimonials-bg
                .testimonials-author
                  Some Gal,
                  %span Very Happy User

  %hr
  .row-fluid
    .span12
      #team
        %h3 Team
        .row-fluid					
          .span3
            %img{:src => "/img/max_picture_250.png", :alt => "Max De Marzi"}
            .team-name 
              Max De Marzi
              %span / Developer
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            .social_profiles
              %a.social-twitter{:href => "http://twitter.com/maxdemarzi"}
              %a.social-linkedin{:href => "http://www.linkedin.com/pub/max-de-marzi/4/983/490/"}
            %hr.clean.visible-phone