.row-fluid
  #wrapper.full.lr-page.span4.offset4
    .row-fluid
      #login-form.span12
        .page-title-small
          %h3 Use your Facebook Account
        %a.facebook_connect{:href => ""}
          .img
            %i.fa-icon-facebook
          .text
            Sign in or Register with Facebook
